.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  padding: 4rem 2rem;
  height: 650px;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 60%);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}

.title {
  margin: 0;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.message {
  resize: none;

  font-family: Poppins;
}

.messageLength {
  text-align: right;
  font-size: 14px;
  color: #888;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  padding: 0.8rem 1.6rem;
  color: #eee;
  font-size: 16px;
  background-color: #0071e3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms ease all;
}

.submitButton:hover {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 60%)
}